<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Base>
            <version>1.0.0</version>
        </Edge_Base>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Edge_Base_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Edge_Base_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <edge>
                <class>Edge_Base_Helper</class>
            </edge>
            <catalog>
                <rewrite>
                    <product_compare>Edge_Base_Helper_Catalog_Product_Compare</product_compare>
                </rewrite>
            </catalog>
            <core>
                <rewrite>
                    <file_storage_database>Edge_Base_Helper_File_Storage_Database</file_storage_database>
                </rewrite>
            </core>
        </helpers>
        <models>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Edge_Base_Model_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
            <core>
                <rewrite>
                    <store>Edge_Base_Model_Core_Store</store>
                    <file_storage>Edge_Base_Model_Core_File_Storage</file_storage>
                    <file_storage_database>Edge_Base_Model_Core_File_Storage_Database</file_storage_database>
                </rewrite>
            </core>
            <widget>
                <rewrite>
                    <template_filter>Edge_Base_Model_Template_Widget</template_filter>
                </rewrite>
            </widget>
            <catalog>
                <rewrite>
                    <template_filter>Edge_Base_Model_Template_Catalog</template_filter>
                </rewrite>
            </catalog>
            <sitemap>
                <rewrite>
                    <sitemap>Edge_Base_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <core_resource>
                <rewrite>
                    <file_storage_database>Edge_Base_Model_Resource_Core_File_Storage_Database</file_storage_database>
                </rewrite>
            </core_resource>
        </models>
    </global>
    <default>
        <system>
            <media_storage_configuration>
                <allowed_resources>
                    <sales_image_folder>sales</sales_image_folder>
                </allowed_resources>
            </media_storage_configuration>
        </system>
    </default>
    <frontend>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <edge_action_layout_render_observer_home>
                        <class>Edge_Base_Model_Observer_Home</class>
                        <method>homePageCanonicalUrl</method>
                    </edge_action_layout_render_observer_home>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>edge</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>