<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Base>
            <version>1.0.0</version>
        </Edge_Base>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Edge_Base_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Edge_Base_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <catalog>
                <rewrite>
                    <product_compare>Edge_Base_Helper_Catalog_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <store>Edge_Base_Model_Store</store>
                </rewrite>
            </core>
        </models>
    </global>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>edge</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>