<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_Base>
            <version>1.0.0</version>
        </Edge_Base>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>Edge_Base_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <page>
                <rewrite>
                    <html_head>Edge_Base_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <edge>
                <class>Edge_Base_Helper</class>
            </edge>
            <catalog>
                <rewrite>
                    <product_compare>Edge_Base_Helper_Catalog_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <core>
                <rewrite>
                    <store>Edge_Base_Model_Store</store>
                </rewrite>
            </core>
            <widget>
                <rewrite>
                    <template_filter>Edge_Base_Model_Template_Filter</template_filter>
                </rewrite>
            </widget>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before>
                <observers>
                    <edge_action_layout_render_observer>
                        <class>Edge_Base_Model_Observer</class>
                        <method>homePageCanonicalUrl</method>
                    </edge_action_layout_render_observer>
                </observers>
            </controller_action_layout_render_before>
        </events>
    </frontend>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>edge</default>
                </theme>
            </design>
        </admin>
    </stores>
</config>