<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="OuterEdge_Base::base" title="outer/edge" sortOrder="1">
                    <resource id="OuterEdge_Base::create_order" title="Quick Create Sales Order Button" sortOrder="1"></resource>
                    <resource id="OuterEdge_Base::create_product" title="Quick Create Product Button" sortOrder="2"></resource>
                    <resource id="OuterEdge_Base::site_status" title="Site Status Monitoring API" sortOrder="3"></resource>
                </resource>                
            </resource>
        </resources>
    </acl>
</config>
