<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Framework\App\Config">
        <plugin name="OuterEdge_Base::appConfigPlugin" type="OuterEdge\Base\Plugin\Framework\App\Config"/>
    </type>
    <type name="Magento\Widget\Model\Widget">
        <plugin name="encodeWidgetQuotes" type="OuterEdge\Base\Model\Widget" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Framework\File\Transfer\Adapter\Http">
        <plugin name="outeredge_placeholder_image" type="OuterEdge\Base\Plugin\Framework\File\Transfer\Adapter\Http" sortOrder="10"/>
    </type>
    <type name="Magento\Framework\DB\Adapter\SqlVersionProvider">
        <arguments>
            <argument name="supportedVersionPatterns" xsi:type="array">
                <item name="MySQL-8" xsi:type="string">^8\.0\.</item>
                <item name="MySQL-5.7" xsi:type="string">^5\.7\.</item>
                <item name="MariaDB-(10.2-10.9)" xsi:type="string">^10\.[2-9]\.</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="noindex_headers" type="OuterEdge\Base\Plugin\Robots"/>
    </type>
    <preference for="Magento\Framework\App\Cache\StateInterface" type="OuterEdge\Base\Framework\App\Cache\State" />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="check_config_changed_command" xsi:type="object">OuterEdge\Base\Console\Command\ConfigChanged</item>
            </argument>
        </arguments>
    </type>
</config>
