<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Framework\App\Config">
        <plugin name="OuterEdge_Base::appConfigPlugin" type="OuterEdge\Base\Plugin\Framework\App\Config"/>
    </type>
    <type name="Magento\Widget\Model\Widget">
        <plugin name="encodeWidgetQuotes" type="OuterEdge\Base\Model\Widget" sortOrder="1" disabled="false"/>
    </type>
    <type name="Magento\Framework\File\Transfer\Adapter\Http">
        <plugin name="outeredge_placeholder_image" type="OuterEdge\Base\Plugin\Framework\File\Transfer\Adapter\Http" sortOrder="10"/>
    </type>
    <preference for="Magento\Framework\App\Cache\StateInterface" type="OuterEdge\Base\Framework\App\Cache\State" />
</config>
