<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Model\Page\DataProvider"
        type="OuterEdge\Base\Model\Cms\Page\DataProvider" />

    <virtualType name="banner_image" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">cms/bannerimage</argument>
            <argument name="basePath" xsi:type="string">cms/bannerimage</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="OuterEdge\Base\Controller\Adminhtml\Cms\Bannerimage\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">banner_image</argument>
        </arguments>
    </type>
</config>
