<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <remove id="Magento_Marketplace::partners"/>
        <add id="OuterEdge_Base::create" title="Create" module="OuterEdge_Base" sortOrder="11" resource="OuterEdge_Base::base"/>

        <add id="OuterEdge_Base::create_order"
            title="Create Sales Orders"
            module="OuterEdge_Base"
            sortOrder="1"
            parent="OuterEdge_Base::create"
            action="sales/order_create/start"
            resource="Magento_Sales::create_order"/>

        <add id="OuterEdge_Base::create_product"
            title="Create Product"
            module="OuterEdge_Base"
            sortOrder="2"
            parent="OuterEdge_Base::create"
            action="catalog/product/new/set/4/type/simple"
            resource="Magento_Catalog::new_product"/>
    </menu>
</config>
