<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="base" frontName="base">
            <module name="OuterEdge_Base" />
        </route>
        <route id="sales_rule" frontName="sales_rule">
            <module name="OuterEdge_Base" before="Magento_SalesRule"/>
        </route>
    </router>
</config>
