<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="outeredge" translate="label" sortOrder="2000" class="outeredge-tab">
            <label>outer/edge</label>
        </tab>
        <section id="oe_base_cookierestriction" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Cookie Restriction Features</label>
            <tab>outeredge</tab>
            <resource>OuterEdge_Base::CookiebotFeatures</resource>
            <group id="oe_base_cmp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Cookie Restriction</label>
                <field id="provider" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>CMP Provider</label>
                    <source_model>OuterEdge\Base\Model\Config\Source\CmpProvider</source_model>
                </field>
                <field id="cookiebot_domain_group_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Cookiebot Domain Group ID</label>
                    <depends>
                        <field id="provider">cookiebot</field>
                    </depends>
                </field>
                <field id="termly_cookie_policy" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Termly Cookie Policy</label>
                    <comment>Generate cookie policy in Termly, choose "Add to Website" and copy value from the "URL" option.</comment>
                    <depends>
                        <field id="provider">termly</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
